.popup__submit-button_inactive {
    opacity: 0.2;
    cursor: default;
    background-color: white;
    border: 1px solid #000;
    color: #000;
    /* background-color: rgba(0, 0, 0, .2); */
}

.popup__submit-button_inactive:hover {
    opacity: 0.2;
    cursor: default;
}