.popup_opened {
    visibility: visible;
    opacity: 1;
    transition: visibility .2s linear, opacity .2s linear;
    -webkit-transition: visibility .2s linear, opacity .2s linear;
    -moz-transition: visibility .2s linear, opacity .2s linear;
    -ms-transition: visibility .2s linear, opacity .2s linear;
    -o-transition: visibility .2s linear, opacity .2s linear;
}