.profile {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin: 40px auto 0;
}

@media all and (max-width: 900px) {
    .profile {
        width: 581px;
        align-items: center;
        margin: 42px auto 0;
    }
}

@media all and (max-width: 600px) {
    .profile {
        width: 282px;
        flex-direction: column;
    }
}