.popup__input_type_error:invalid {
    border-radius: 0;
    box-shadow: 0 0 4px rgba(52, 123, 230, 1);
    border-bottom: 2px solid rgba(255, 0, 0, 1);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
