.main {
    width: 880px;
    min-height: 80vh;
    margin: 0 auto;
}

@media all and (max-width: 900px) {
    .main {
        width: 581px;
    }
}

@media all and (max-width: 600px) {
    .main {
        width: 320px;
    }
}