.profile__add-button {
    margin: 0 0 0 auto;
    align-self: center;
    justify-self: flex-start;
    background-image: url(../../../images/add_button.svg);
    background-position: center;
    background-color: #000;
    width: 150px;
    min-height: 50px;
    border: 2px solid #FFF;
    border-radius: 2px;
    box-sizing: border-box;
    transition: opacity .3s linear;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    padding: 0;
}

.profile__add-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media all and (max-width: 900px) {
    .profile__add-button {
        width: 100px;
    }
}

@media all and (max-width: 600px) {
    .profile__add-button {
        width: 282px;
        margin: 30px auto 0;
        background-image: url(../../../images/add_button320.svg);
    }
}