.popup__info-tooltip-heading {
    width: 358px;
    margin: 32px auto 60px;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 29px;
    text-align: center;
}