.profile__container {
    margin: 18px auto 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
}

@media all and (max-width: 900px) {
    .profile__container {
        width: 282px;
        justify-content: flex-start;
    }
}

@media all and (max-width: 600px) {
    .profile__container {
        margin: 26px auto 7px;
        justify-content: center;
    }
}
