.popup__container_type_picture {
    max-width: 75vw;
    max-height: 75vh;
    width: auto;
    height: 562px;
    background-color: rgba(0, 0, 0, 0);
}

@media all and (max-width: 900px) {
    .popup__container_type_picture {
        height: 492px;
    }
}

@media all and (max-width: 600px) {
    .popup__container_type_picture {
        height: 324px;
        margin: 136px auto auto;
    }
}